#contact {
  background-image: linear-gradient(
    135deg,
    $primary-color 20%,
    $secondary-color 80%
  );
  -webkit-clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem 0;
  margin-top: -10rem;
  margin-bottom: -1px;
  color: $white-color;

  @include respond(tab-land) {
    padding: 10rem 0;
    // clip-path: none;
    margin-top: 0;
    // -webkit-clip-path: none;
  }

  .grid-for-contact {
    display: grid;
    grid-template-columns: 50% 50%;

    .contact-wrapper:first-child {
      padding-bottom: 2rem;
      &::after {
        @include respond(tab-port-sm) {
          content: " ";
          display: block;
          border: 0;
          width: 35rem;
          height: 1px; 
          background-image: -webkit-linear-gradient(left, transparent, #8c8b8b, transparent);
          background-image: -moz-linear-gradient(left, transparent, #8c8b8b, transparent);
          background-image: -ms-linear-gradient(left, transparent, #8c8b8b, transparent);
          background-image: -o-linear-gradient(left, transparent, #8c8b8b, transparent);
          margin: 0 auto;
          margin-top: 5rem;
        }
      }
    }

    @include respond(tab-port-sm) {
      display: block;

    }
  }

  .contact-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;

    &__text {
      margin-bottom: 2.5rem;
    }

    &__text,
    a {
      font-size: 2.4rem;

      // Responsive for contact text
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
